fieldset {margin-bottom: 15px;}

.remove-media, .add-media {
	display: block;
	width:20px;
	height:20px;
	margin: 7px;
	background: #c8c8c8;
	cursor:pointer;
}

.remove-media {
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
}

.admin-img-container div {position:relative;}
.remove-media:hover, .add-media:hover {background: #b3b3b3;}
.admin-img-container {position:relative;margin-bottom: 30px;}
.admin-img-container img {width:100%;height:auto;}
.dashicons, .dashicons-before:before {vertical-align:middle;}

select {width:100%;}
.mailing-textarea {width:100%;min-height:200px;}
pointer {cursor:pointer;}
.post-type-wil_mailing #mailing_box fieldset {border-bottom:1px solid lightgrey;padding-bottom: 30px;margin-bottom: 30px;}
.container {background: #f0f0f0;padding: 10px;}
.item {background: #f0f0f0;}
.item {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.item:active { 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
.item:not(:first-child) {padding-top: 20px;margin-top: 20px;border-top: 1px solid black;}