#noscript {position:absolute;bottom:173px;left:50px;text-align:center;color:white;background:#58595b;line-height:50px;width:944px;font-size:10px;letter-spacing:0.1em;text-transform:uppercase;display:block;}