/*
 * Theme Name: wilfriedlentz
 * Description: Theme for the wilfriedlentz.com site.
 * Version: 1.1
 * Author: Joris Lindhout & Skip Lentz
 * Author URI: http://www.grok-projects.com
 *
 * License: MIT
 * License URI: http://opensource.org/licenses/mit-license.php
 *
 * Web Fonts from Fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2017 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      Mostardesign
 * License URL: https://www.fontspring.com/licenses/mostardesign/webfont
 *
 */

/* TYPOGRAPHY */
@font-face {
  font-family: 'L15';
  src: url('css/fonts/L15_Webfont/L15-Regular.woff2') format('woff2'),
       url('css/fonts/L15_Webfont/L15-Regular.woff') format('woff');
}
@font-face {
    font-family: 'DTLNobTLigWL';
    src: url("css/fonts/DTLNobTLigWL.otf") format("opentype");
}
@font-face {
    font-family: 'sofiapro-regular';
    src: url('css/fonts/sofiapro-regular-webfont.woff2') format('woff2'),
         url('css/fonts/sofiapro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sofiapro-bold';
    src: url('css/fonts/sofiapro-bold-webfont.woff2') format('woff2'),
         url('css/fonts/sofiapro-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sofiapro-boldit';
    src: url('css/fonts/sofiapro-boldit-webfont.woff2') format('woff2'),
         url('css/fonts/sofiapro-boldit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sofiapro-regularit';
    src: url('css/fonts/sofiapro-regularit-webfont.woff2') format('woff2'),
         url('css/fonts/sofiapro-regularit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*@font-face {
    font-family: 'sofiapro-light';
    src: url('css/fonts/sofiapro-light-webfont.woff2') format('woff2'),
         url('css/fonts/sofiapro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/

html {
	font-family: 'sofiapro-regular', sans-serif;
	font-size: 14px;
	line-height: 1.5em;
}
.logo h1, .logo h2, .title {
	font-family: 'DTLNobTLigWL', sans-serif;
	font-size: 34px;
	line-height: 1.15em;
	font-weight: normal;
}
h3, .submenu ul li a {
	font-size: 14px;
	margin-top: 0;
}
.artist-name {
	font-size: 16px;
}

#artists-grid li h3 {font-weight: normal;}

strong, i {font-family:'sofiapro-bold', sans-serif;}
em, b {font-family:'sofiapro-regularit', sans-serif;}
strong em, i em, b em, b em {font-family:'sofiapro-boldit', sans-serif;}

#menu-main {font-size:16px;}

/* GENERAL */
a {text-decoration:none;}
a:hover,a:visited {text-decoration:underline;}

ul {}
li {}

div p, article p {margin-top:0;}
figure {margin: 0;padding:0;}
figcaption {font-size: 12px; margin-top: 10px;}

.hide {display:none;}
.transparent {opacity:0;}
.uppercase {text-transform:uppercase;}
.lowercase {text-transform:lowercase;}
.iframe-responsive {
    overflow:hidden;
    padding-bottom: 100%;
    position:relative;
    height:0;
    width: 100%;
    float: right;
}
.iframe-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.clearfix:before,
.clearfix:after {content: " ";display: table;}
.clearfix:after, .clearfix {clear: both;}
/* Include this rule to trigger hasLayout and contain floats for IE 6/7 */
.clearfix {*zoom: 1;}


/* COLORS */
html, body, body > header {color:#000;background-color:#fff;}
a, a:visited, a:active {color:#000;}
.blue, a.blue, a.blue:visited, a.blue:active, .blue a, .blue a:visited, .blue a:active  {color:#0049ff;}
.grey, a.grey, a.grey:visited, a.grey:active, .grey a, .grey a:visited, .grey a:active  {color:#ccc;}
.white, a.white, a.white:visited, a.white:active, .white a, .white a:visited, .white a:active  {color:#fff;}

.grey #menu-main li a:hover, .grey #menu-main li.current-menu-item a, .single-wil_artist #menu-item-1368 a, .single-wil_work #menu-item-1368 a, .single-wil_text #menu-item-1368 a, .single-post #menu-item-1368 a, .single-wil_exhibition #menu-item-1367 a, .tab.active, .show-bio.active {color:#0049ff;}

.single-wil_artist aside a:hover, .single-wil_artist aside a.active, .single-wil_artist aside a.active:hover, .single-wil_artist aside a.active:visited {color:#0049ff;}

/* LAY OUT */
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

body, h1, h2, #menu-main {margin:0;padding:0;}
main, body > footer {width:calc(100% - 50px);max-width:calc(2510px - 50px);margin: 25px auto;}
main {
	margin-top: calc(25px + 54px);
	padding-top: 50px;
	min-height: calc(100vh - 265px - 5%);
	flex: 1;
}
body.home main, body.exhibitions main {
	padding-top: 25px;
}
body > header {
	position: fixed;
	top: 0;
	left: 0;
	width:calc(100% - 50px);
	z-index:99;
}
body > footer {
	overflow: hidden;
}
#header-menu {float: right;}
section > aside, main > aside {
	width:20%;
	float:left;
}

aside.artist-menu {
	margin-right: 25px;
}

article {
	position: relative;
	text-align: center;
}

article > header {
	white-space: initial;
	text-align: initial;
	width: 20%;
	position: absolute;
	top: 20px;
	left: 0px;
	margin-bottom: 1em;
}

article > header > h2 {
	font-size: 14px;
}

/* Page title headers are aligned to top of main content */
.page main > article > header {
	top: 0;
}

article > .article-content {
	width: 50%;
	margin: 0 auto;
	text-align: initial;
	clear: left;
}

article > .article-content > h3 {
	margin-bottom: 0px;
}

article > .article-content > h3 + p {
	margin-top: 1em;
}

article > .article-content > p {
	max-width: 90%;
}

article > .article-content > figure {
	margin-bottom: 30px;
}

article img {
	height: auto;
	display: block;
	max-width: 100%;
}

article figure {
	min-height: 156px;
}

article figure img {
	max-width: 100%;
	max-height: calc(100vh - 25px - 54px);
	min-height: inherit;
	width: auto;
	object-fit: cover;
	margin: 0 auto;
}

article > figure {
	max-width: 60%;
	margin: 0 auto;
	margin-bottom: 3em;
}

article > figure img {
	max-height: calc(100vh - 25px - 54px - 50px - 50px - 30px);
}

/* HEADER */
body > header {
	height: 54px;
	overflow: hidden;
	padding: 25px 25px 7px;
	border-bottom: 18px solid #fff;
}

#logo-header {
	vertical-align: top;
	display: inline-block;
	overflow: hidden;
	height: 54px;
}

body > header, #logo-header {
	transition: height 0.2s ease-in-out;
}

header.header-up, header.header-up #logo-header {
	height: 16px;
}

#logo-header h1 {width: 300px;}

#logo-header:hover {text-decoration: none;}

/* MENU */
#menu-main {list-style-type:none;}
#menu-main li {display:inline;margin-left: 50px;}
#menu-main li.current-menu-item, #menu-main li:hover, .single-wil_artist #menu-item-1368, .single-wil_work #menu-item-1368, .single-wil_text #menu-item-1368, .single-post #menu-item-1368, .single-wil_exhibition #menu-item-1367, .tab.active {border-bottom:1px solid #0049ff;}
#menu-main li a:hover {text-decoration:none;}
header > .menu-responsive {display: none;}

/* Submenu */
nav.submenu {height: 33px;vertical-align: top;width: 20%;margin-top: -8px;}

nav.submenu ul {
	vertical-align: top;
	text-align: initial;
	line-height: 25px;
}
.submenu ul {list-style-type:none;margin:0;padding:0;white-space: nowrap;}
.submenu ul li {display:inline-block;width: 50px;}
.submenu a:hover {text-decoration: none;}
.submenu ul li a:hover, .submenu ul li a.active {border-bottom:1px solid #0049ff;}

/* HOME */
#featured article.slide header {
	left: 25px;
	margin-bottom: 0;
}

#featured .slide figure a {
	height: 100%;
}

#featured .slide.landscape figure {
	width: 100%;
	max-width: 100%;
}

body.home {
	box-sizing: border-box;
}

body.home footer {
	position: relative;
	flex: none;
	margin-top: 0;
}

body.home main {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	width: 100%;
}

#featured, #featured .slide {
	display: flex;
	flex: 1;
	flex-direction: column;
}

/* Horizontal scrolling slider using flexbox, if flickity is not enabled. */
#featured {
	padding-top: 25px;
	min-height: calc(100vh - 25px - 54px - 50px - 25px);

	flex-wrap: nowrap;
	flex-direction: row;

	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;

	-webkit-scroll-snap-points-x: repeat(100%);
	-ms-scroll-snap-points-x: repeat(100%);
	scroll-snap-points-x: repeat(100%);

	-webkit-scroll-snap-type: mandatory;
	-ms-scroll-snap-type: mandatory;
	scroll-snap-type: mandatory;
	scroll-snap-type: x mandatory;
}

/* Fix for scroll snapping on Firefox. */
#featured .slide:last-of-type {
	padding-right: 1px;
}

#featured .slide a.slide-link {
	text-decoration: none;
}

#featured .slide a.slide-link:hover .exhibition-info span {
	border-bottom: 1px solid;
}

#featured .slide {
	min-width: 100%;
	align-items:center;
	min-height: 0;
	width: 100%;
}

#featured .slide img {
	display: block;
	flex: 1 1 0;
	height: 100%;
	width: auto;
	max-width: 100%;
	object-fit: cover;
}

#featured .slide.landscape h2, #featured .slide.landscape .exhibition-info {
	color: white;
	border-color: white;
}

#featured .slide .exhibition-info {
	margin-bottom: 0;
}

#featured .slide.landscape img {
	height: auto;
	width: 100%;
}

#featured.flickity-enabled {
	flex-direction: column;
	padding-top: 0px;
}

#featured .flickity-viewport {
	flex: auto;
	order: 2;
}

#featured .flickity-prev-next-button {
	z-index: 2;
	display: none;
	background: white;
	opacity: 0.5;
}

#featured.flickity-enabled:hover .flickity-prev-next-button {
	display: block;
}

#featured .flickity-page-dots {
	position: relative;
	bottom: 0;
	order: 1;
	height: 25px;
}

#featured .flickity-page-dots .dot {
	opacity: 1;
	background-color:#ccc;
}

#featured .flickity-page-dots .dot.is-selected {
	background-color:#0049ff;
}

#featured.flickity-enabled .slide:last-of-type,
.no-flexbox #featured .slide:last-of-type {
	/* Undo firefox fix of padding-right. */
	padding-right: 0;
}

.no-flexbox body.home {
	height: 100%;
}

.no-flexbox #featured {
	overflow: auto;
}

.no-flexbox #featured .slide {
	display: block;
	height: 100vh;
	overflow: hidden;
}

.no-flexbox #featured .slide img {
	display: block;
	margin: 0 auto;
}

/* PAGES */
#artists-grid {list-style-type:none;margin:0;padding:0;}
#artists-grid li {display:inline-flex;width:16.8%;margin:0 4% 40px 0;}
#artists-grid li:nth-child(5n) {margin-right:0;}
#artists-grid li img {width:100%;height:auto;}
#artists-grid li h3 {padding:3px 0 0 0;margin: 0;display: inline;}

.exhibition-info a:hover, #artists-grid li a:hover h3 {
	border-bottom: 1px solid black;
}

.exhibition-info a:hover, #artists-grid li a:hover {
	text-decoration:  none;
}

.page-head {
	display: none
}

/* Exhibitions */
.exhibition {
	clear: both;
	margin-bottom: 3em;
	border-bottom: 1px solid #ccc;
	padding-bottom: 3em;
}

.exhibition .submenu li a:hover, .exhibition header a:hover {
	text-decoration: none;
}

.page main > article.exhibition > header {
	float: left;
	position: relative;
	top: 20px;
}

article.exhibition > header h3 {
	margin-bottom: 0;
}

.exhibition figure {
	margin-bottom: 0;
	margin-left: -20%;
	display: inline-block;
	text-align: initial;
}

time.exhibition-date {
	display: block
}

time.exhibition-start:after {
	content: "–";
}

/* SINGLE PAGES */
aside h2 {padding-bottom:30px;}
aside h3 {margin:0;padding:0;}
.slide > img, main section > img {
	margin-bottom: 30px;
}

/* Single Artist */
.artist-page-content {
	width: 75%;
	float: left;
}

.artist-page-content .article-content {
	width: 67%;
	margin: 0;
}

.artist-page-content .article-content p {
	/* max-width: 100%; */
}

.artist-page-content header {
	position: static;
	width: 67%;
}

figure#cover {
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	max-height: 100vh;
	overflow: hidden;
	z-index: 1;
}
figure#cover img {
	height: 100vh;
	width: 100%;
	position:relative;
	z-index:1;
	object-fit: cover;
}
figure#cover h2 {position: relative;width: 250px;z-index: 2;padding-left:5%;}
figure#cover figcaption {position:absolute;bottom:0;right:0;margin:2%;z-index: 2;color: white;}
.wil_artist-template-default aside {
	position: relative;
	z-index: 2;
	padding-top: 20px;
	/*height: 100vh;*/
	box-sizing: border-box;
}

.single-wil_artist article#bio {
	display: none;
}

.single-wil_artist article#bio.active {
	display: block;
}

.single-wil_artist aside h2, .single-wil_artist aside a, .single-wil_artist aside a:hover, .single-wil_artist aside a:visited {color:#fff;text-decoration:none;}

.tab-content {display:none;}
.tab-content.active {display:block;}
.tab-content ul {list-style-type:none;margin:0;padding:0;}
.artist-name {padding-bottom:30px;max-width:100px;}
.single-wil_work .tab.work, .single-post .tab.news,.single-wil_text .tab.text {
	color:#0049ff;
	border-bottom:1px solid #0049ff;
}

.tab-content a, .tab-content a:visited {color:#000;}

.single-wil_work #work.tab-content a,
.single-post #news.tab-content a,
.single-wil_text #text.tab-content a {
	color:#ccc;
}

.single-wil_work #work.tab-content a.active,
.single-post #news.tab-content a.active,
.single-wil_text #text.tab-content a.active,
.tab-content a:hover,
.artist-menu .tab-content a.active {
	color:#000;
}

.single-wil_work #work, .single-wil_text #text, .single-post #news {
	display:block;
}

/* Single Work */
#work-page img.wp-post-image {
	width: 100%;
	height: auto;
	/* This is reset back to original max-height in responsive rules. */
	max-height: none;
	margin-bottom: 30px;
}
#work-page figure {
	width: 100%;
	max-width: 100%;
}
#work-page figure img {
	width:75%;
	float:left;
	height: auto;
}
#work-page figure figcaption {
	width:22%;
	float:left;
	padding-left:3%;
	margin-top: -5px;
	text-align: initial;
}
#work-page .work-featured-thumb {
	float: right;
	width: 20%;
	display: block;
	margin-bottom: 30px;
	margin-top: 0;
}

/* Single News */
.single-post article > figure {
	display: inline-block;
	margin-left: -27%;
}

/* Contact page */
.contact article > header {
	position: relative;
	float: left;
}

.contact article > header > aside {
	margin-top: 1em;
}

.contact article > figure {
	display: inline-block;
	margin-left: -20%;
	width: 100%;
	max-width: 50%;
}

/* FOOTER */
body > footer p {margin:0;}
body > footer a[href^="tel"] {display:none;}
#logo-footer {
	height: 52px;
	overflow: hidden;
	display: inline-block;
}
#logo-footer a {text-decoration: none;display: block;position:relative;width: 300px;height: 70px;}
#logo-footer h2 {width: 300px;margin-top: -15px;}
.footer-contact {
	font-size: 12px;
	column-count:2;
	float:right;
}

/* FORM ELEMENTS */
#signup-mailing input[type='submit']{
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;  
}
#signup-mailing {
	margin:0;
	width: 100%;
}
#signup-mailing input {
	border:none;
	margin:5px 0 5px 0;
	font-family: 'sofiapro-regular', sans-serif;
}
#signup-mailing input[type='text'] {
	background-color:#eee;
	color: #000;
	padding:12px;
	width: 100%;
	box-sizing: border-box;
}
#signup-mailing input[type='text']::placeholder {
	color:#acacac;
}
#signup-mailing input[type='submit'] {
	background-color:#fff;
	padding:0;
	cursor:pointer;
}

/* 404 PAGE */
#content-404 {position:absolute;width:246px;height:210px;top:50%;left:50%;padding:30px;overflow:hidden;background:#fff;margin:-135px 0 0 -153px;color:black;font-size:15px;font-family:Georgia, Times, 'Times New Roman', serif;letter-spacing:0.05em;}
#content-404 h1 {text-transform:uppercase;font-size:32px;line-height:32px;margin:0;padding:0;}
#content-404 div {padding:20px 0 20px 0;}
#content-404 a.home-link {display:block;padding-top:10px;}
#content-404 hr {padding:0;}


/* RESPONSIVE */
@media all and (max-width: 900px) {
	#artists-grid li {width:30.6%;}
	#artists-grid li:nth-child(5n) {margin-right:4%;}
	#artists-grid li:nth-child(3n) {margin-right:0;}

	body.exhibitions main {
		padding-top: 50px;
	}

	body.home main {
		width: calc(100% - 50px);
		margin-left: auto;
		margin-right: auto;
	}

	.exhibition {
		display: block;
		border-color: black;
		margin-bottom: 1.5em;
		padding-bottom: 0;
	}

	.exhibition .exhibition-info {
		display: none;
	}

	article > figure, article > .article-content {
		width: 100%;
		max-width: 100%;
		display: block;
		margin: 0;
	}

	article > .article-content > p {
		max-width: 100%;
	}

	article > figure.responsive-figure {
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;
	}

	article > figure.responsive-figure img {
		max-height: calc(100vh - 25px - 30px - 50px - 156px);
		width: auto;
	}

	#work-page figure.responsive-figure img {
		/* Reset to same max-height as global figure rule */
		max-height: calc(100vh - 25px - 54px);
		width: auto;
	}

	.artist-page-content, .artist-page-content > header,
	.artist-page-content > .article-content {
		width: 100%;
	}

	#work-page figure img {
		width: auto;
		float: none;
	}

	#work-page figure figcaption, #work-page .work-featured-thumb {
		width: 100%;
		float: none;
		padding: 0;
		margin-top: 10px;
	}

	#work-page img.wp-post-image {
		margin-bottom: 0px;
	}

	article > header, section > aside, main > aside {
		position: relative;
		margin-top: 1.5em;
		width: 100%;
		height: auto;
		top: 0;
		left: 0;
	}

	#featured article.slide header {
		min-height: 156px;
		left: 0;
	}

	.contact article header {
		width: 50%;
	}

	.page.exhibitions main > .submenu {
		display: none;
	}

	.page.exhibitions main > article > header {
		top: 0;
	}

	.wil_artist-template-default .artist-menu h2, .artist-name {
		width: 50%;
		float: left;
		font-family: 'DTLNobTLigWL', sans-serif;
		font-size: 34px;
		line-height: 1.15em;
		font-weight: normal;
		text-transform: uppercase;
		max-width: initial;
		padding-bottom: 0;
	}

	nav.submenu {
		float: right;
		width: auto;
		height: auto;
	}

	nav.submenu ul li {
		display: block;
		width: auto;
	}

	#work.tab-content, #news.tab-content, #text.tab-content {
		display:none;
	}

	.single-wil_artist .artist-menu.active h2,
	.single-wil_artist .artist-menu.active a {
		color: inherit;
	}

	.artist-menu.active ~ #cover {
		display: none;
	}

	#work.tab-content.active, #news.tab-content.active, #text.tab-content.active {
		display:block;
	}

	.artist-menu.active ~ .artist-page-content {
		display:none;
	}

	.exhibition header .title:after, #artists-grid li h3:after {
		content: "";
		float: right;
		width: 16px;
		height: 16px;
		border-top: 1px solid black;
		border-right: 1px solid black;
		transform: translate(-5px, 5px) rotate(45deg);
	}

	#artists-grid li h3:after {
		display: none;
	}

	.exhibition header .title:after {
		position: absolute;
		bottom: 22px;
		right: 0;
	}

	#featured #slides.flickity-enabled .slide {
		height: auto;
	}

	#featured #slides .slide {
		align-items: start;
	}

	#featured .slide a {
		display: block;
	}

	#featured .slide figure {
		height: calc(100vh - 25px - 30px - 50px - 156px - 50px - 30px);
	}

	#featured .slide figure.responsive-figure img {
		height: 100%;
		width: auto;
		object-fit: cover;
	}

	#featured .slide.landscape h2, #featured .slide.landscape .exhibition-info {
		color: initial;
		border-color: initial;
	}

	#featured .flickity-prev-next-button {
		display: block;
		top: calc(50% - 78px - 7px);
	}

	/* responsive menu */
	#header:not( :target ) > a.menu-responsive:not(.hide-nav),
	#header:target > a.menu-responsive.hide-nav {
		display: block;
	}

	#header:target {
		height: 100%;
		width: 100%;
		background-color: white;
		right: 0;
		box-sizing: border-box;
		left: 0;
	}

	#header:target #logo-header {
		height: 54px;
	}

	#header:target ul#menu-main  {
		visibility: visible;
		opacity: 1;
	}

	ul#menu-main li {
		display: block;
		font-family: 'DTLNobTLigWL', sans-serif;
		font-size: 34px;
		line-height: 1.15em;
		margin: 0;
		padding-top: 10px;
	}

	ul#menu-main li:first-of-type {
		padding-top: 0px;
	}

	.single-wil_artist #menu-item-1368, .single-wil_work #menu-item-1368, .single-wil_text #menu-item-1368, .single-post #menu-item-1368, .single-wil_exhibition #menu-item-1367, .tab.active,
	ul#menu-main li:hover, ul#menu-main li.current-menu-item {
		border-bottom: none;
	}

	ul#menu-main li a {
		text-transform: uppercase;
		color: black;
	}

	body > header ul#menu-main {
		visibility: hidden;
		opacity: 0;
		transition: visibility 0.3s, opacity 0.2s ease-in-out;
	}

	#header #header-menu {
		float: none;
		padding-top: 50px;
	}

	header .menu-responsive {
		position: absolute;
		top: 1px;
		right: 0;
		padding: inherit;
	}

	header .menu-responsive img {
		height: 27px;
	}

	.page-head > .title {
		float: left;
		width: 80%;
	}

	.artist-menu, .page-head {
		display: block;
		border-bottom: 1px solid black;
		margin-bottom: 22px;
		padding-bottom: 10px;
	}

	.artist-menu {
		margin-top: 0;
		padding-top: 0;
		border-color: #ccc;
	}

	.single-wil_artist .artist-menu, .artist-menu.active {
		border: none;
	}

	.wil_artist-template-default .artist-menu {
		padding-top: 0px;
	}
	
	.footer-contact {
		display:none;
	}

	.iframe-responsive {
		padding-bottom: 50%;
	}
}

@media all and (max-width: 480px) {
	.page.artists .page-head {
		margin-bottom: 0;
	}

	#artists-grid li {display:block;width:100%;margin:0;}
	#artists-grid li img {display:none;}
	#artists-grid li h3 {
		font-size: 16px;
		font-weight: normal;
		padding: 22px 0;
		border-bottom: 1px solid black;
		display: block;
	}

	#artists-grid li h3:after {
		display: block;
	}

	.single-wil_artist #cover {
		max-height: initial;
	}

	main {
		margin-top: calc(25px + 30px);
	}

	#header:target #logo-header,
	body > header, #logo-header {
		height: 30px;
	}

	.contact article header {
		width: 100%;
	}

	.iframe-responsive {
		padding-bottom: 100%;
	}
}

@media (max-width: 365px) {
	ul#menu-main li, .logo h1, .logo h2, .title, .artist-name, .wil_artist-template-default	.artist-menu h2 {
		font-size: 26px;
	}

	#featured .slide aside {
		min-height: 116px;
	}

	.exhibition header .title:after, #artists-grid li h3:after {
		width: 12px;
		height: 12px;
		bottom: 17px;
	}

	body > header .menu-responsive img {
		height: 20px;
	}

	main {
		margin-top: calc(25px + 22px);
	}

	header.header-up,
	header.header-up #logo-header {
		height: 11px;
	}

	#header:target #logo-header,
	body > header, #logo-header {
		height: 22px;
	}
}
